/* App.css */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background: black;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
}

h1 {
  font-size: 28px;
  margin: 10px 0;
  color: #fff;
}

p {
  margin: 5px 0 10px;
  color: #f1f1f1;
}

input {
  display:block;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}

button {
  padding: 12px 20px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #fff;
}
